<div class="author-stack" data-md-component="author-stack">
  <div class="author-stack__title">Authors</div>

  <article class="author-card">
    <img
      class="author-card__photo"
      src="{{ 'assets/images/authors/Dar_Photo.jpg' | url }}"
      alt="Photo of Prathamesh Barane"
      loading="lazy"
    />
    <div class="author-card__meta">
      <div class="author-card__name">Prathamesh Barane</div>
      <div class="author-card__links">
        <a
          class="author-link author-link--icon"
          href="https://static.beservices.in/prathamesh/"
          target="_blank"
          rel="noopener"
          aria-label="Website"
          title="Website"
        >
          {% include ".icons/material/web.svg" %}
        </a>
        <a
          class="author-link author-link--icon"
          href="https://www.linkedin.com/in/prathameshbarane"
          target="_blank"
          rel="noopener"
          aria-label="LinkedIn"
          title="LinkedIn"
        >
          {% include ".icons/fontawesome/brands/linkedin.svg" %}
        </a>
        <a
          class="author-link author-link--icon"
          href="https://github.com/PrathamGitHub"
          target="_blank"
          rel="noopener"
          aria-label="GitHub"
          title="GitHub"
        >
          {% include ".icons/material/github.svg" %}
        </a>
      </div>
    </div>
  </article>

  <article class="author-card">
    <img
      class="author-card__photo"
      src="{{ 'assets/images/authors/prashant.svg' | url }}"
      alt="Photo of Prashant Kote"
      loading="lazy"
    />
    <div class="author-card__meta">
      <div class="author-card__name">Prashant Kote</div>
      <div class="author-card__links">
        <a
          class="author-link author-link--icon"
          href="https://github.com/PrathamGitHub/Geo-CAD-Practical-Reference"
          target="_blank"
          rel="noopener"
          aria-label="GitHub Repository"
          title="GitHub Repository"
        >
          {% include ".icons/material/github.svg" %}
        </a>
      </div>
    </div>
  </article>
</div>
